@define-color text #cdd6f4;
@define-color red #f38ba8;
@define-color base #1e1e2e;

* {
    border: none;
    border-radius: 0;
    font-family: sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(30,30,46, 0.5);
    border-bottom: 3px solid transparent;
    color: @text;
}

#workspaces button {
    padding: 0 5px;
    margin: 0 3px;
    color: @text;
    border-bottom: 3px solid transparent;
}

#workspaces button:hover {
    background: rgba(243, 139, 168, 0.1);
    border-bottom: 3px solid @text;
}

#battery , #cpu , #memory, #pulseaudio, #temperature, #clock, #network {
/*    padding: 0 2px;*/
    margin: 0 9px;
}

/* #monitor{
    color: @text;
    background-color: transparent;
    padding: 0px 7px  0px 5px;
    border-bottom: 2px solid @color5; 
}

#battery , #cpu , #memory, #pulseaudio, #temperature {
    color: @text;
    padding: 0px 6px;
} */

#clock {
    background-color: transparent;
    color: @text;
}

@keyframes blink {
    to {
        background-color: rgba(1, 1, 1, 0);
    }
}

#battery.warning:not(.charging) {
    background: @red;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background: transparent;
    color: @text;
}

#memory {
    background: transparent;
    color: @text;
}

#network {
    background: transparent;
    color: @text
}

#network.disconnected {
    background: transparent;
    color: @red;
}

#pulseaudio {
    background: transparent;
    color: @text;
}

#pulseaudio.muted {
    border-bottom: 3px solid @text;
}

#tray {
    background-color: transparent;
    padding: 0px 5px 0px 0px;

}
